<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turing_simulation</title>
    <div id="scratched" class="invis">{{scratched}}</div>
    <div id="metal" class="invis">{{metal}}</div>
    <div id="lines" class="invis">{{lines}}</div>
    <div id="last_value" class="invis">{{last_value}}</div>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'TuringSimulator/main2.css' %}">
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->

</head>
<body>
    <br>
    <h4 id="enter-info" class="enter-info">Press enter to start machine</h4></br>
    <div id="animation">
        <canvas id="animationCanvas">
        </canvas>
    </div>

    {% load static %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/102/three.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
    <script src="{% static 'TuringSimulator/CSS3DRenderer.js' %}"></script>
    <script src="{% static 'TuringSimulator/tween.js' %}"></script>
    <script src="{% static 'TuringSimulator/simulator.js' %}" type="text/javascript"></script>
<!--    <h4>Turing Machine</h4>-->
    <p class="lead p-5">
<!--          <a href="{% url 'machine-detail' machine_id %}" class="btn btn-lg btn-secondary">Back to machine</a>-->
        <a href="{% url 'machine-detail' machine_id %}" class="btn from-center">
            Back to machine
        </a>
    </p>
</body>
</html>